@lost flexbox flex;

.footer-container {
  position: relative;
  height: 350px;
  width: 100%;
  lost-align: center;

  .content {
    z-index: 10;
    lost-offset: 1/2;

    .social-bar {
      list-style-type: none;
      display: inline-flex;
      padding-left: 0;

      .social-item {
        margin-right: 1em;

        a {
          text-decoration: none;
          color: #666;
          transition: all 0.3s ease-in-out;
        }

        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .footerBackground {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 4em;
    z-index: -1;
  }

  .footerBackground:before {
    position: absolute;
    content: "";
    border: 3px dashed #444;
    border-radius: 50%;
    height: 70%;
    width: 70%;
    left: 14%;
    top: 14%;
    animation-name: spin;
    animation-duration: 22000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .footer-contact-card {
    .f-name {
    }

    .contact-list {
      padding-left: 0;
      list-style: none;
      color: #666;

      .contact-list-item {
        margin: 0.4em 0;

        a {
          text-decoration: none;
          color: #666;
          transition: all 0.3s ease-in-out;
        }

        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
