@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import "./header";
@import "./videos";
@import "./quotes";
@import "./footer";

html,
body {
  font-family: "Roboto", Times, serif;
}
.section-header {
  text-align: center;
  font-size: 3.2rem;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.section-header::before {
  content: "";
  position: absolute;
  width: 10%;
  margin: 0 auto;
  border-bottom: 2px solid;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 50em) {
  .section-header {
    font-size: 1.8rem;
  }

  .section-header::before {
    content: "";
    position: absolute;
    width: 20%;
    margin: 0 auto;
    border-bottom: 2px solid;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
}
