@lost flexbox flex;

.quote-wrapper {
  padding: 4em 2em 1em;
  lost-utility: clearfix;
  lost-center: 1020px;
  lost-align: center;

  .swiper-container {
    height: 600px;
    width: 100%;

    .quote-slide {
      display: flex;
      width: 90%;
      margin: 0 auto;

      .left-side,
      .right-side {
        lost-column: 1/2 0;
        lost-align: center;
      }

      .left-side {
        background: #fff;
        height: 550px;
        color: #444;
        flex-flow: column wrap;
        border-left: 1px solid #dbdde644;

        .text-body {
        }

        .text-author {
        }
      }

      .right-side {
        color: #444;
        height: 550px;
        position: relative;

        .quote-img {
          width: 100%;
          position: absolute;
          top: 0;
          height: 100%;
        }
      }
    }
  }
}
