.video-wrapper {
  padding: 6em 0 0;

  .section-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 3.5rem;
  }

  div[cols="1"] {
    img {
      width: 600px;
      height: 400px;
    }
  }
}
